@import '../less-variables/colors.less';

.menu {
    position: absolute;
    top: 15px;
    right: 10px;
    color: @white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}

.menuElements {
    display: flex;
    margin-right: 2rem;
}

.loginButton {
    border: none;
    background-color: transparent;
    outline: none;

    font-size: 1rem;
}

.userName {
    margin-right: 0.65rem;
}

.userIcon {
    margin-right: 0.25rem;
}

.menuPoint {
    margin: 0 0.5rem;
    color: white;
}

.menuPoint:hover {
    cursor: pointer;
}

.menuPoint::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: @white;
}

.menuPoint:hover::after {
    width: 100%;
    animation: underline-movement 0.4s ease-in-out;
}

@keyframes underline-movement {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.menu.dark {
    color: black;
}

.menu.dark .loginButton {
    color: black;
}

.menu.dark .menuPoint {
    color: black;
}
