@import '../components/less-variables/colors.less';

.container {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;
    background-color: @green;
    padding-top: 5rem;
}

.queryInput {
    width: 30rem;
    height: 7.5rem;

    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

.case {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 95%;
    max-width: 1000px;
    margin-top: 1rem;
}

.algorithm {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.algHeader {
    font-size: 0.85rem;
}

.algorithmText {
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.randomCaseButton {
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    padding: 0.5rem 1rem;

    &:hover {
        font-weight: bold;
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

.quizzing {
    background-color: black;

    &:hover {
        background-color: transparent;
    }
}

.addCustomAlgorithm {
    background-color: transparent;
    border: none;
    text-align: left;

    margin-top: 1rem;
    font-size: 0.95rem;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }

    cursor: pointer;
}

.customAlg {
    margin-top: 1.5rem;
}

.customAlgText {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.customAlgInput {
    width: 100%;
    max-width: 300px;
    height: 3rem;

    font-size: 1.25rem;
    margin-top: 1.5rem;
    padding-left: 0.5rem;
    box-sizing: border-box;
}

.saveCustomAlg {
    height: 3rem;
    background-color: transparent;
    border: none;

    font-size: 1.25rem;
    width: 6rem;

    &:focus {
        outline: none;
    }

    &:hover {
        font-weight: bold;
        text-decoration: underline;
    }
    cursor: pointer;
}

.notFound {
    margin-top: 3rem;
    font-size: 2.5rem;
}

.howItWorksContainer {
    margin-top: 0.75rem;
}

.howItWorks {
    text-decoration: underline;
    margin-top: 0.75rem;

    cursor: pointer;
}
