@import '../colors.less';

.container {
    width: 100vw;
    min-height: 100vh;
    background-color: @orange;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 5rem;
    box-sizing: border-box;
}

.textColor {
    color: @orange;
    &::placeholder {
        color: @orange;
    }
}

.bottomBorder {
    border-bottom: 1px solid @orange;
}
