@import '../colors.less';

.cubeTimerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-height: 100vh;

    box-sizing: border-box;
    background-color: @green;
    padding: 4rem 2rem 0 2rem;
}

.scrambleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
}

.scramble {
    font-size: 1rem;
    letter-spacing: 5px;
    color: white;
    margin-bottom: 1rem;
}

.previousScramble {
    display: none;
}

.timerContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
}

.solves {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
}

.timer {
    text-align: center;
    font-size: 6rem;
    margin-bottom: 1rem;
}

.timer.holding {
    color: @orange;
}

.time {
    color: white;
    font-family: 'Anonymous Pro', monospace;
}

.largeTimer {
    padding-top: 8.5rem;
    height: 300px;
    width: 80%;
    text-align: center;
}

.previousSolves {
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    font-size: 3rem;
}

.previousSolves span {
    text-align: right;
}

.startButton {
    display: none;
}

@media screen and (min-width: 1140px) {
    .cubeTimerContainer {
        padding-top: 7rem;
    }

    .handButtonsAndSolveTimeContainer {
        display: flex;
        flex-direction: row;
    }

    .startButton {
        background-color: @yellow;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 90px;
    }

    .startButton .leftHand {
        transform: scaleX(-1);
    }

    .startButton.holding {
        background-color: @orange;
    }

    .timer {
        width: 500px;
    }

    .largeTimer .timer {
        font-size: 8rem;
    }

    .scrambleContainer {
        margin-bottom: 5rem;
        text-align: center;
    }

    .scramble {
        font-size: 2.5rem;
    }

    .previousScramble {
        color: @white;
        font-size: 1.25rem;
        opacity: 0.7;
        display: inline-block;
    }
}
